{{ template "layout" }}
{{ define "content" }}
{{ template "navbar" . }}
<div class="home-section" id="hero-section">
    <div id="mission-section">
        <div class="header-container" id="mission-header">
            <p class="section-header">Born primal. Raised with intention. Treasured for life.</p>
        </div>
        <div class="content-container" id="mission-content">
            <p class="section-text" id="mission-text">
            </p>
        </div>
    </div>
</div>
<div class="home-section" id="cat-section">
    <div class="header-container">
        <p class="section-header">- The Kittens -</p>
    </div>
    <div class="content-container">
        <img class="section-image-large" src="/web/images/kuro/index.jpeg" alt="">
        <p class="section-text">
            View all of our currently available kittens.
        </p>
        <div class="image-button-container">
            <a class="section-link" href="/kittens">View Kittens</a>
        </div>
    </div>
</div>
<div class="home-section" id="bloodline-section">
    <div class="header-container">
        <p class="section-header">- The Bloodline -</p>
    </div>
    <div class="content-container">
        <div class="image-button-container">
            <img class="section-image-large" src="/web/images/nabi/main.jpeg" alt="">
        </div>
        <p class="section-text">
            Our bloodline is carefully cultivated and nurtured to develop
            the most viral and primal breed possible.
        </p>
    </div>
</div>
<div class="home-section" id="breeder-section">
    <div class="header-container">
        <p class="section-header">- The Breeder -</p>
    </div>
    <div class="content-container">
        <img class="section-image-large" src="/web/images/mina.jpeg" alt="">
        <p class="section-text">
            Adia has decades of animal experience and pours everything she has
            into ensuring her animals are nutured and healthy.
        </p>
    </div>
</div>
<div class="home-section" id="contact-section">
    <div class="header-container">
        <p class="section-header">- Contact -</p>
    </div>
    <div class="content-container">
        <img class="section-image-large" src="/web/images/cat_calling.png" alt="">
        <p class="section-text">
            Send us any questions you have about anything.
        </p>
        <div class="image-button-container">
            <a class="section-link light" href="/contact">Contact Us</a>
        </div>
    </div>
</div>
{{ end }}
