{{ template "layout" }}
{{ define "content" }}
{{ template "navbar" . }}
<div class="cat-details-container">
    <div class="cat-details-image-container">
        <img class="cat-details-image" src="/web/images/yume/main.jpeg" alt=" a cat photo">
    </div>
    <div class="cat-details-text">
        <p class="cat-name">Yume</p>
        <p class="cat-price">$4,000</p>
        <div class="cat-details-sub-text">
            <p class="cat-detail-label">DOB:</p><p class="cat-detail">2025-07-19</p>
        </div>
        <div class="cat-details-sub-text">
            <p class="cat-detail-label">Litter:</p><p class="cat-detail">Beta</p>
        </div>
        <div class="cat-details-sub-text">
            <p class="cat-detail-label">Age:</p><p class="cat-detail">2 Months</p>
        </div>
        <div class="cat-details-sub-text">
            <p class="cat-detail-label">Color:</p><p class="cat-detail">Grey/Orange</p>
        </div>
        <a class="cat-details-link" href="/inquire/yume">Purchase</a>
    </div>
</div>
{{ end }}