{{ define "content" }}
<form id="contact-form" action="/send-message" method="post">
    <label class="contact-form-label" for="name">Name</label>
    <input type="text" name="person-name" id="name">
    <label class="contact-form-label" for="email">Email</label>
    <input type="text" name="person-email" id="email">
    <label class="contact-form-label" for="question">Question</label>
    <input type="text" name="person-question" id="question">
    <input type="submit" value="Submit">
</form>
{{ end }}
