{{ template "layout.html" }}
{{ define "content" }}
<nav id="kittens-top-navbar">
    <a id="kittens-left-nav-link" class="kittens-nav-link" href="/">Primal Bloodline</a>
    <div id="kittens-right-nav-links">
        <a class="kittens-nav-link kittens-right-nav-link" href="/about">About</a>
        <a class="kittens-nav-link kittens-right-nav-link" href="/kittens">Cats</a>
        <a class="kittens-nav-link kittens-right-nav-link" href="/about">Bloodline</a>
        <a class="kittens-nav-link kittens-right-nav-link" href="/about">Contact</a>
    </div>
</nav>
<div id="kittens-main-container">
    <div class="kitten-card">
        <img class="kitten-card-image" src="/web/images/mina.jpeg" alt="">
        <div class="kitten-card-sub-div">
            <h3 class="kitten-card-name">Mina</h3>
            <p>.</p>
            <p class="kitten-card-price">$3500</p>
        </div>
        <p class="kitten-card-description">A small but cute yellow cat.</p>
        <a class="kitten-link" href="/cat-details/mina">Details</a>
    </div>
    <div class="kitten-card">
        <img class="kitten-card-image" src="/web/images/mina.jpeg" alt="">
        <div class="kitten-card-sub-div">
            <h3 class="kitten-card-name">Mina</h3>
            <p>.</p>
            <p class="kitten-card-price">$3500</p>
        </div>
        <p class="kitten-card-description">A small but cute yellow cat.</p>
        <a class="kitten-link" href="/cat-details/pablo">Details</a>
    </div>
    <div class="kitten-card">
        <img class="kitten-card-image" src="/web/images/mina.jpeg" alt="">
        <div class="kitten-card-sub-div">
            <h3 class="kitten-card-name">Mina</h3>
            <p>.</p>
            <p class="kitten-card-price">$3500</p>
        </div>
        <p class="kitten-card-description">A small but cute yellow cat.</p>
        <a class="kitten-link">Details</a>
    </div>
    <div class="kitten-card">
        <img class="kitten-card-image" src="/web/images/mina.jpeg" alt="">
        <div class="kitten-card-sub-div">
            <h3 class="kitten-card-name">Mina</h3>
            <p>.</p>
            <p class="kitten-card-price">$3500</p>
        </div>
        <p class="kitten-card-description">A small but cute yellow cat.</p>
        <a class="kitten-link">Details</a>
    </div>
    <div class="kitten-card">
        <img class="kitten-card-image" src="/web/images/mina.jpeg" alt="">
        <div class="kitten-card-sub-div">
            <h3 class="kitten-card-name">Mina</h3>
            <p>.</p>
            <p class="kitten-card-price">$3500</p>
        </div>
        <p class="kitten-card-description">A small but cute yellow cat.</p>
        <a class="kitten-link">Details</a>
    </div>
    <div class="kitten-card">
        <img class="kitten-card-image" src="/web/images/mina.jpeg" alt="">
        <div class="kitten-card-sub-div">
            <h3 class="kitten-card-name">Mina</h3>
            <p>.</p>
            <p class="kitten-card-price">$3500</p>
        </div>
        <p class="kitten-card-description">A small but cute yellow cat.</p>
        <a class="kitten-link">Details</a>
    </div>
</div>
{{ end }}