{{ block "layout" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primal Bloodline</title>
    <link rel="icon" type="image/png" href="/web/images/icons/favicon.png">
    <link rel="stylesheet" href="/web/css/index.css">
    <link rel="stylesheet" href="/web/css/kittens.css">
    <link rel="stylesheet" href="/web/css/cat-details.css">
    <link rel="stylesheet" href="/web/css/navbar.css">
    <link rel="stylesheet" href="/web/css/inquire.css">
    <script defer src="/web/js/index.js"></script>
    <script defer src="/web/js/navbar.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    {{ block "content" . }}
    {{ end }}
</body>
</html>
{{ end }}