#section-1 {
    color: white;
    font-family: Dancing Script, cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92.5vh;
}

.main-text {
    font-weight: 100;
    font-size: 30px;
}

.sub-text {
    font-size: 20px;
    opacity: 0.8;
}

.sub-section {
    background-color: black;
    box-shadow: 0px 18px 59px 73px rgba(0,0,0,1);
    color: white;
    font-family: Dancing Script, cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding-left: 15vw;
    padding-right: 15vw;
}

.sub-section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sub-section-content-image {
    width: 10em;
    height: 10em;
    border-radius: 5px;
}

.sub-text {
    padding: 2em;
}