/* =========================
   Base Styles (default)
============================ */
body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
}

p {
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.home-section {
    height: 90.025vh;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: "Cinzel Decorative", serif;;
    /* font-family: 'PBLFont'; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#hero-section {
    background-image: url("/web/images/don_don_bw_glowing_gradient_mobile.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    background-color: rgb(47, 47, 47);
}

#mission-section {
    margin-top: 25vh;
    background-color: transparent;
    color: rgb(239, 239, 239);
    width: 100%;
}

#mission-header {
    padding-top: 26vh;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8vh;
}

.section-header {
    font-size: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 100%;
}

.section-image-large {
    height: 10rem;
    width: 10rem;
    border-radius: 8px;
    margin-top: 2rem;
}

.section-text {
    padding-top: 2rem;
    font-size: 14px;
}

.image-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-link {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    margin-top: 2rem;
}

.section-link:hover {
    background-color: rgba(0, 0, 0, 0.408);
    transition: all 0.15s ease;
}

.section-image-small {
    height: 10rem;
    width: 10rem;
    border-radius: 8px;
    margin-top: 2rem;
}

#contact-section {
    color: rgb(255, 255, 255);
    background-color: black;
}

@font-face {
    font-family: 'PBLFont';
    src: url('/web/fonts/Primal_Bloodline_v2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* =========================
   Smallest phones (≥320px)
============================ */
@media (min-width: 320px) {
}

/* =========================
   Small devices (≥480px)
============================ */
@media (min-width: 480px) {
}

/* =========================
   Tablets (≥768px)
============================ */
@media (min-width: 768px) {
}

/* =========================
   Small desktops (≥992px)
============================ */
@media (min-width: 992px) {
}

/* =========================
   Large desktops (≥1200px)
============================ */
@media (min-width: 1200px) {
    #hero-section {
        background-image: url("/web/images/don_don_bw_glowing_gradient.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200vh;
    }

    #mission-section {
        margin-top: 100vh;
    }

    .section-image-large {
        height: 28rem;
        width: 28rem;
    }

    .section-header {
        font-size: 32px;
        opacity: 0.9;
    }

    .section-text {
        padding-left: 30vw;
        padding-right: 30vw;
        font-size: 18px;
        opacity: 0.7;
    }

    .section-image-small {
        height: 13rem;
        width: 13rem;
    }
}