/*--- remove default styling ---*/
body {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
/*-----------------------------*/

#hero-section {
    background-image: url("/web/images/don_don_bw_glowing_v2.png");
    background-size: cover;
    background-position: center;
    height: 185vh;
}

.home-section {
    height: 85vh;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: Amita;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.section-header {
    margin-top: 8rem;
    font-size: 32px;
}

.content-container {
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
}

.section-image-large {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    padding: 7rem;
}

.section-text {
    font-size: 18px;
    padding: 7rem;
}

.image-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-link {
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
}

.section-link:hover {
    background-color: rgba(0, 0, 0, 0.408);
    transition: all 0.15s ease;
}

.section-image-small {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    padding: 7rem;
}

#mission-section {
    margin-top: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(239, 239, 239);
    width: 100vw;
    height: 90vh;
}

#contact-section {
    color: rgb(255, 255, 255);
    background-color: black;
}
