.contact-main-container {
    font-family: Amita;
    margin-top: 15vh;
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-image-container > .contact-image {
    height: 40rem;
    width: 40rem;
    border-radius: 10px;
    margin-right: 3rem;
}

.form-container {
    width: 20rem;
}

.form-header {
    font-weight: bold;
    font-size: 1.75rem;
}

.form-input {
    margin-bottom: 1rem;
}

.text-input {
    height: 2rem;
    width: 19rem;
    font-size: 1.1rem;
}

.text-message {
    resize: none;
    height: 12rem;
    width: 19rem;
}

.contact-submit-button {
    font-family: Amita;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 50px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: none;
}

.contact-submit-button:hover {
    background-color: rgba(0, 0, 0, 0.408);
    transition: all 0.15s ease;
}