#top-navbar {
    position: fixed;
    top: 0;
    height: 16vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Amita;
    transition: all 0.2s ease;
    z-index: 100;
}

.left-nav-container {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-icon {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

#top-navbar.top {
    background: transparent;
    color: rgb(255, 255, 255);
}

#top-navbar.middle {
    background-color: rgb(255, 255, 255);
    color: black;
}

#top-navbar.middle .site-title {
    fill: black;
}

#top-navbar.bottom {
    background-color: black;
    color: rgb(255, 255, 255);
}

#top-navbar.bottom .site-title {
    fill: white;
}

#left-nav-link {
    margin-left: 1rem;
}

.site-title {
    width: 22.5rem;
    fill: white;
    margin-top: 0.75rem;
}

#right-nav-links {
    margin-right: 5rem;
    font-size: 18px;
}

.right-nav-link {
    padding-left: 2rem;
}